<!-- <p>media-detail works!</p> -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #e3f2fd;">
    <li class="breadcrumb-item"><a routerLink="/liste">Retour à Liste des medias</a></li>
  </ol>
</nav>
<ng-container *ngIf="mediaDetail">

  <div class="row">
    <div class="col-md-4 bg-light">
      <img [src]="mediaDetail.mediaImageURL" class="rounded img-fluid">
    </div>
    <div class="col-md-8 bg-success" >
      <h2>{{ mediaDetail.label }}</h2>
      <p>{{ mediaDetail.category }} {{ mediaDetail.type }}</p>

      <!-- Choix du type d'auteur en fonction des catégories d'oeuvres -->

      <div [ngSwitch]="mediaDetail.category">
        <div *ngSwitchCase="FILM">Réalisateur: {{ mediaDetail.authorSurname }} {{ mediaDetail.authorName }}</div>
        <div *ngSwitchCase="MUSIQUE">Artiste: {{ mediaDetail.authorSurname }} {{ mediaDetail.authorName }}</div>
        <div *ngSwitchDefault>Auteur: {{ mediaDetail.authorSurname }} {{ mediaDetail.authorName }}</div>
      </div>

      <!-- <div *ngIf="mediaDetail.category === 'FILM'">Réalisateur: {{ mediaDetail.authorSurname }} {{ mediaDetail.authorName }}</div>
      <div *ngIf="mediaDetail.category === 'MUSIQUE'">Artiste: {{ mediaDetail.authorSurname }} {{ mediaDetail.authorName }}</div>
      <div *ngIf="mediaDetail.category === 'JEU' || 'LIVRE'">Auteur: {{ mediaDetail.authorSurname }} {{ mediaDetail.authorName }}</div> -->

      <p>Date de sortie: {{ mediaDetail.publicationDate }}</p>
      <p>{{ mediaDetail.description }}</p>
      <!-- <p
        <i class="fas fa-thumbs-up"></i>  {{ mediaDetail.likesNumber }}
        <i class="fas fa-thumbs-down"></i> {{ mediaDetail.dislikesNumber }}
      </p> -->

      <app-like [mediaId]="mediaDetail.id"></app-like>
    </div>
  </div>


  <app-personal-review  [mediaId]="mediaDetail.id"></app-personal-review>
  <app-review-list      [mediaId]="mediaDetail.id"></app-review-list>

</ng-container>
