<!-- <p>{{mediaItem.category}}</p> -->
<div class="card-group">
    <div class="card" [routerLink]="['/media', mediaItem.id]"> <!-- [routerlink] -->
        <img class="card-img-top" [src]="mediaItem.mediaImageURL" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{mediaItem.label}}</h5>
            <p class="card-text bg-success">{{mediaItem.description.substring(0,50)}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Number of Likes</small>
        </div>
    </div>
</div>