<p>review-list works!</p>
<table class="tableReview">
    <tbody>
        <div class="row">
            <div class="col-sm-4">
                <app-review></app-review>
            </div>
            <div class="col-sm-4">
                <app-review></app-review>
            </div>
            <div class="col-sm-4">
                <app-review></app-review>
            </div>
            <!-- <div class="col-sm-4" *ngFor="let currentMedia of mediaListe">
                <app-media [mediaItem]="currentMedia"></app-media>
            </div> -->
        </div>
    </tbody>
</table>