<app-media-nav></app-media-nav>
<div>
    <p>
        <button class="btn btn-info" >Next Category</button>
        &nbsp;
        <button class="btn btn-info" >Prev Category</button>
    </p>
</div>

<div>
    Aucun media à afficher
</div>

<h4>Liste des medias </h4>
<table class="table">
    <tbody>
        <div class="row">
            <div class="col-sm-6" *ngFor="let currentMedia of mediaListe">
                <app-media [mediaItem]="currentMedia"></app-media>
            </div>
        </div>
        <tr>
            <th scope="row">1</th>
            <td>Media #1 </td>
            <td><i class="fas fa-search"></i>
                <!--&nbsp;-->
            </td>
            <td>Like / Unlike</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Media #2 </td>
            <td><i class="fas fa-search"></i>
                <!--&nbsp;-->
            </td>
            <td>Like / Unlike</td>
        </tr>
    </tbody>
</table>