<!-- <h2>Liste des medias </h2>

    <div class="row">
            <div class="col-sm-4" *ngFor="let currentMedia of mediaList">
                <app-media [mediaItem]="currentMedia"></app-media>
            </div>
        </div> -->

<h2>Liste des medias </h2>

        <h3>Cinéma</h3>

            <div class="row">
                <div class="col-sm-4" *ngFor="let currentMedia of movies">
                    <app-media [mediaItem]="currentMedia"></app-media>
                </div>
            </div>

        <h3>Musique</h3>

            <div class="row">
                <div class="col-sm-4" *ngFor="let currentMedia of musics">
                    <app-media [mediaItem]="currentMedia"></app-media>
                </div>
            </div>

        <h3>Jeux</h3>

            <div class="row">
                <div class="col-sm-4" *ngFor="let currentMedia of games">
                    <app-media [mediaItem]="currentMedia"></app-media>
                </div>
            </div>

        <h3>Livres</h3>

            <div class="row">
                <div class="col-sm-4" *ngFor="let currentMedia of books">
                    <app-media [mediaItem]="currentMedia"></app-media>
                </div>
            </div>