<app-media-nav></app-media-nav>
<div>
    <p>
        <button class="btn btn-info" >Next Type-Categ</button>
        &nbsp;
        <button class="btn btn-info" >Prev Type-Categ</button>
    </p>
</div>
<div>
    Aucun media à afficher
</div>
<h5>Liste des medias </h5>
<table class="table">
    <tbody>
        <div class="row">
            <div class="col-sm-4" *ngFor="let currentMedia of mediaListe">
                <app-media [mediaItem]="currentMedia"></app-media>
            </div>
        </div>
    </tbody>
</table>