<div class="PersonalReviewComponent bg-warning">
    <p>PersonalReviewComponent works!</p>
</div>

<div *ngIf="userLogin">

<form [formGroup]="personalReviewForm" (ngSubmit)="saveReview()">
    <!-- validation -->
    <p>PersonalReviewForm : Avis</p>


    <div *ngIf="personalReviewForm.get('comment').dirty
                && personalReviewForm.get('comment').touched
                && personalReviewForm.get('comment').invalid"
            class="alert">
        <div *ngIf ="personalReviewForm.get('comment').hasError('required')">
            Le commentaire est obligatoire.
        </div>
        <div *ngIf ="personalReviewForm.get('comment').hasError('maxlength')">
            Le commentaire doit au maximum faire 2550 caractères.
        </div>
    </div>

    <div class="row justify-content-center custom-line">
        <textarea formControlName="comment" cols='80%' rows='4' placeholder='Saisir un commentaire'></textarea>
        <br/>
        <!-- <textarea formControlName="comment"></textarea> -->
        <button [disabled]="!personalReviewForm.valid" type="submit" class="btn btn-primary mb-2">Enregistrer</button>
    </div>
</form>

<button *ngIf="showDelete" (click)="deleteReview()" class="btn btn-primary mb-2">Supprimer</button>

</div>